/* Layout principal */
.content {
  margin-left: 25%; /* Espacio para el sidebar por defecto */
  margin-top: 80px;
  transition: margin-left 0.3s ease;
  min-height: calc(100vh - 135px); /* Ajusta según tu footer */
}

/* Clase cuando NO hay sidebar */
.contentFull {
  margin-left: 0;
}

/* Añade estas media queries para responsividad */
@media (max-width: 768px) {
  .content {
    margin-left: 0;
  }
}