.carousel {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: fadeAnimation 9s infinite;
}

/* Aplica un retraso diferente a cada imagen */
.slide:nth-child(1) {
  animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 3s;
}
.slide:nth-child(3) {
  animation-delay: 6s;
}

@keyframes fadeAnimation {
  0% { opacity: 0; }
  10% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0; }
  100% { opacity: 0; }
}
